@import "src/assets/sass/style";
.launch_layout {
  &_body {
    font-family: 'Source Code Pro', 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: $background;
    color: $keyColor;
  }
}